.container {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  margin: 3rem 0;

  @media (max-width: 900px) {
    justify-content: center;
    gap: 1rem;

    span {
      position: absolute;
      bottom: 50rem;

      visibility: hidden;
      font-size: 0;
    }
  }
}
