@use '@styles/mixins/box-shadow' as add;

.container {
  padding: 2rem 1.5rem;

  .buttonContainer {
    margin-bottom: 2.4rem;
  }

  .imgContainer {
    margin: 2.4rem 0;
    background: transparent;

    img {
      width: 100%;
      height: calc(100vw / 1.6);

      @include add.box-shadow;
    }
  }

  @media (min-width: 900px) {
    padding: 2.4rem 3rem;
  }
}
