@use '@styles/mixins/box-shadow' as add;

.container {
  padding: 2rem 1.5rem;

  .buttonContainer {
    margin-bottom: 2.4rem;
  }

  .imgContainer {
    margin-bottom: 2.4rem;
    background: transparent;

    img {
      width: 100%;
      height: calc(100vw / 1.6);

      @include add.box-shadow;
    }
  }

  @media (min-width: 900px) {
    padding: 2.4rem 3rem;
  }

  @media (min-width: 1300px) {
    .countryContainer {
      display: flex;
      align-items: center;
      gap: 8rem;
    }

    .imgContainer {
      margin-bottom: 0;

      img {
        width: 28rem;
        height: 21rem;
      }
    }
  }
}
