.contentContainer {
    padding: 2rem 3rem;

    .inputContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media (max-width: 568px) {
        padding: 2rem 1.5rem;

        .inputContainer {
            flex-direction: column;
            align-items: stretch;
            gap: 2rem;

            input {
                width: 100%;
            }
        }

        .cardsContainer {
            padding: initial 1.2rem !important;
        }
    }
}
