* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Nunito Sans', sans-serif;
}

.container {
    margin: 2rem 3rem;
}

:root {
    --dark-blue: hsl(209, 23%, 22%);       // Dark Mode elements
    --very-dark-blue: hsl(207, 26%, 17%);  // Dark Mode background
    --very-dark-blue: hsl(200, 15%, 8%);   // Light Mode text
    --dark-gray: hsl(0, 0%, 52%);          // Light Mode input
    --very-light-gray: hsl(0, 0%, 98%);    // Light Mode Background
    --white: hsl(0, 0%, 100%);             // Dark Mode text & Light Mode elements
}
