* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container {
    min-width: 100vw;
    min-height: 100vh;

    background: var(--background);
}

*,
.container,
input,
select {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.2rem;
    font-weight: 800;
}

a {
    text-decoration: none;
}


:root {
    .light {
        --text: hsl(200, 15%, 8%);
        --element: hsl(0, 0%, 100%);
        --background: hsl(0, 0%, 98%);
        --header-background: hsl(0, 0%, 100%);
        --input: hsl(0, 0%, 52%);
        --box-shadow: hsl(0, 0%, 96%);
    }

    .dark {
        --text: hsl(0, 0%, 100%);
        --element: hsl(208, 23%, 22%);
        --background: hsl(209, 26%, 17%);
        --header-background: hsl(209, 23%, 22%);
        --input: hsl(209, 23%, 22%);
        --box-shadow: hsl(201, 26%, 17%);
    }
}
